.main__area {
    background-color: $light_gray;
    padding-bottom: 50px;
    min-height: 297px;

    .main__title--no_Record {
        text-align: center;
        color: $gray;
        font-size: 40px;
    }

    .main__title {
        @include m-y(0);
        @include p-y(40px);
        text-align: center;
    }

    .main__list {
        display: flex;
        margin: 0 auto 15px auto;
        width: 80%;
        background-color: $white;
        border-left: 8px solid $green;
        justify-content: space-between;

        @include mobile-L {
            display: block;
            border-left: unset;
            border-top: 8px solid $green;
        }

        p {
            display: flex;
            align-self: center;

            @include mobile-L {
                display: block;
                text-align: center;
                border-bottom: 1px solid $dark_black;
                padding-bottom: 20px;
            }
        }

        small {
            margin-right: 10px;
            display: flex;
            align-self: center;

            @include mobile-L {
                color: $blue;
                font-weight: bold;
                font-size: 20px;
                display: block;
                text-align: center;
                margin-right: 0;
            }
        }

        .main__list__status,
        .main__list__BMI,
        .main__list__weight,
        .main__list__height {
            font-size: 24px;
        }

        .main__list__status {
            margin-left: 20px;

            @include mobile-L {
                margin-left: 0;
            }
        }

        .main__list__date__title--mobile {
            display: none;

            @include mobile-L {
                display: block;
            }
        }

        .main__list__date {
            margin-right: 20px;

            @include mobile-L {
                margin: 0;
                padding-bottom: 20px;
                border-bottom: 0;
                font-size: 20px;
            }
        }

    }
}