$gray: gray;
$dark_black: #424242;
$light_black: #4A4A4A;
$light_gray: #e2dfdf;
$primary_yellow: #FFD366;
$primary_dark_yellow: #FFC431;
$white: #FFFFFF;
$green: #86D73F;
$blue: #31BAF9;
$orange: #FF982D;
$dark_orange: #FF6C02;
$red: #FF1200;
$btn_active: #DEA921;